# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Quarantine and malware samples (Important)
quarantine/
uploads/
*.eicar
test_files/
malware_samples/

# Temporary & system files
*.log
.env
.DS_Store
.idea/
.vscode/

